@model ForgotPasswordVm
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
			<!-- Login Form s-->
			<form method="post">
				<div class="login-form">
					<h4 class="login-title">Write your email address</h4>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="Email">Email address :</label>
							<input class="mb-0 form-control" asp-for="Email"
								   placeholder="Enter your email">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
                       
						

						<div class="col-md-12">
							<button type="submit" class="btn btn-outlined">Send Link</button>
						</div>
						

					</div>
				</div>
			</form>
			<div class="text-danger" asp-validation-summary="ModelOnly">
			</div>
		</div>

	</div>
</div>

@section scripts {
	@Html.Partial("ValidationPartialView")
}