@model LoginVm
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
			<!-- Login Form s-->
			<form method="post" >
				<div class="login-form">
					<h4 class="login-title">Login your Profile</h4>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="UserName_Email">UserName :</label>
							<input class="mb-0 form-control" asp-for="UserName_Email"
								   placeholder="Enter your username or email">
							<span asp-validation-for="UserName_Email" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="Password">Password :</label>
							<input class="mb-0 form-control" asp-for="Password"
								   placeholder="Enter your password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						
						<div class="col-md-12">
							<button type="submit" class="btn btn-outlined">Login</button>
						</div>
						<div>
							<span class="text-primary">
								You don't have any account?
							</span><br />
							<a asp-action="register" asp-controller="account" class="btn btn-outlined">Register</a>
						</div>
                        
					</div>
				</div>
			</form>
			<div class="text-danger" asp-validation-summary="ModelOnly">
			</div>
		</div>

	</div>
</div>

@section scripts {
	@Html.Partial("ValidationPartialView")
}