@model RegisterVm
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
			<!-- Login Form s-->
			<form method="post" enctype="multipart/form-data">
				<div class="login-form">
					<h4 class="login-title">New Customer</h4>
					<p><span class="font-weight-bold">I am a new customer</span></p>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="FullName">Full Name :</label>
							<input class="mb-0 form-control" asp-for="FullName"
								   placeholder="Enter your full name">
								   <span asp-validation-for="FullName" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="UserName">UserName :</label>
							<input class="mb-0 form-control" asp-for="UserName"
								   placeholder="Enter your user name">
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="Email">Email Address :</label>
							<input class="mb-0 form-control" asp-for="Email"
								   placeholder="Enter your email address">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="Password">Password :</label>
							<input class="mb-0 form-control" asp-for="Password"
								   placeholder="Enter your password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="ConfirmPassword">Confirm password :</label>
							<input class="mb-0 form-control" asp-for="ConfirmPassword"
								   placeholder="Repeat your password">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						
						<div class="col-md-12">
							<button type="submit" class="btn btn-outlined">Register</button>
						</div>
						<div>
							<span class="text-primary">
								Dou you have an account?
							</span><br />
							<a asp-action="login" asp-controller="account" class="btn btn-outlined">Login</a>
						</div>
					</div>
				</div>
			</form>
			<div class="text-danger" asp-validation-summary="ModelOnly">

			</div>
		</div>
		
	</div>
</div>

@section scripts {
	@Html.Partial("ValidationPartialView")
}