@model UserUpdateProfileVm
<form method="post">
	<div class="row">
		<div class="col-lg-6 col-12  mb--30">
			<label asp-for="FullName">Full Name :</label>
			<input class="mb-0 form-control" asp-for="FullName"
				   placeholder="Enter your full name">
			<span asp-validation-for="FullName" class="text-danger"></span>
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<label asp-for="UserName">Username :</label>
			<input class="mb-0 form-control" asp-for="UserName"
				   placeholder="Enter your username">
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
		<div class="col-12  mb--30">
			<label asp-for="Email">Email Address :</label>
			<input class="mb-0 form-control" asp-for="Email"
				   placeholder="Enter your email address">
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="col-12  mb--30">
			<h4>Password change</h4>
		</div>
		<div class="col-12  mb--30">
			<label asp-for="CurrentPassword">Previous Password :</label>
			<input class="mb-0 form-control" asp-for="CurrentPassword"
				   placeholder="Enter your previous password">
			<span asp-validation-for="CurrentPassword" class="text-danger"></span>
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<label asp-for="NewPassword">New Password :</label>
			<input class="mb-0 form-control" asp-for="NewPassword"
				   placeholder="Enter your new password">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div><div class="col-lg-6 col-12  mb--30">
			<label asp-for="ConfirmNewPassword">Repeated Password :</label>
			<input class="mb-0 form-control" asp-for="ConfirmNewPassword"
				   placeholder="Repeate your new password">
			<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn--primary">Save Changes</button>
		</div>
	</div>
</form>
<div class="text-danger" asp-validation-summary="ModelOnly">

</div>