@model Genre
<div class="container">
    <div class="row justify-content-center">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section scripts {
    @Html.Partial("ValidationPartialView")
}
